// Summer Skin Guide Colors:
// main blue = $blue700
// dark gray = $gray700
// hover gray = $gray400

.content-wrapper {
  h2 {
    font-size: 6.5rem;
    font-weight: 400;
  }
  h3 {
    font-size: 5rem;
  }
  h4 {
    font-size: 4.5rem;
    font-weight: 400;
  }
  h5 {
    font-size: 2.8rem;
  }
  h6 {
    font-size: 4.8rem;
    font-weight: 400;
  }
  .button-cta {
    color: $gray700;
    text-transform: uppercase;
    padding: 1rem 4rem;
    border: 1px solid $gray700;

    &:hover {
      background-color: $gray400;
    }
  }
  .clearfix {
    @include clearfix;
  }
} // content-wrapper
#row1 {
  margin-bottom: 2rem;
} // row1
#row2 {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 4rem auto;

  .guide {
    flex-direction: column;
    width: 32%;
    text-align: center;
  }
} // row2
#products {
  .products-title {
    width: 100%;
  } // products-title
  .products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .product {
      text-align: center;
      width: 20%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;

      img {
        margin: 0 auto;
      }
      h4 {
        sup {
          font-size: 3rem;
        }
      }
    } //product
  } // products
} // products section
