// Summer Skin Guide Colors:
// main blue = $blue700
// dark gray = $gray700
// hover gray = $gray400

.content-wrapper {
  h2 {
    font-size: 3.25rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 2.2rem;
    font-weight: 400;
  }
  h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
    height: 40px;
    max-width: 230px;
    margin: 0 auto;
  }
  h6 {
    font-size: 2.4rem;
    font-weight: 400;
  }
  .link-cta {
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
  .button-cta {
    color: $gray700;
    text-transform: uppercase;
    padding: 1rem 4rem;
    border: 1px solid $gray700;

    &:hover {
      background-color: $gray200;
    }
  }
  .clearfix {
    @include clearfix;
  }
} // content-wrapper
#row1 {
  margin-bottom: 2rem;
} // row1
#row2 {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 6rem auto;

  .m-guide {
    flex-direction: column;
    width: 32%;
    text-align: center;
  }
} // row2
#products {
  .a-products-title {
    width: 90%;
    margin: 0 auto 6rem auto;
  } // products-title
  .o-products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

    .m-product {
      text-align: center;
      width: 20%;
      flex-direction: column;
      justify-content: flex-end;

      a {
        height: 340px;
      }
      img {
        margin: 0 auto;
      }
      h4 {
        sup {
          font-size: 1.4rem;
        }
      }
    } //product
  } // products
} // products section
