/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #FFFFFF;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 6rem;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 5rem;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 3.5rem;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 1.8rem;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

.content-wrapper li {
  font-size: 1.6rem;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -1.8rem;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-prev:before, .content-wrapper .slick-next:before {
  color: none;
}

.content-wrapper .slick-arrow {
  border: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

.content-wrapper h2 {
  font-size: 3.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.content-wrapper h3 {
  font-size: 2.3rem;
}

.content-wrapper h4 {
  font-size: 2.2rem;
  font-weight: 400;
}

.content-wrapper h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  height: 40px;
  max-width: 200px;
  margin: 0 auto;
}

.content-wrapper h6 {
  font-size: 2.4rem;
  font-weight: 400;
}

.content-wrapper .link-cta {
  text-transform: uppercase;
  font-weight: 700;
}

.content-wrapper .link-cta:hover {
  text-decoration: underline;
}

.content-wrapper .button-cta {
  color: #424649;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border: 1px solid #424649;
}

.content-wrapper .button-cta:hover {
  background-color: #EEEEEE;
}

.content-wrapper .clearfix {
  display: block;
}

.content-wrapper .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .content-wrapper .clearfix {
  height: 1px;
}

#row1 {
  margin-bottom: 2rem;
}

#row2 {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 6rem auto;
}

#row2 .m-guide {
  flex-direction: column;
  width: 32%;
  text-align: center;
}

#products .a-products-title {
  width: 90%;
  margin: 0 auto 6rem auto;
}

#products .o-products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

#products .o-products .m-product {
  text-align: center;
  width: 20%;
  flex-direction: column;
  justify-content: flex-end;
}

#products .o-products .m-product a {
  height: 340px;
}

#products .o-products .m-product img {
  margin: 0 auto;
}

#products .o-products .m-product h4 sup {
  font-size: 1.4rem;
}

@media only screen and (max-width: 649px) {
  .content-wrapper h2, .content-wrapper h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1;
  }
  .content-wrapper h3 {
    line-height: 1;
    margin: 0 auto;
    width: 86%;
  }
  .content-wrapper h5 {
    max-width: 100%;
    line-height: 1;
  }
  .content-wrapper h6 {
    line-height: 1;
    margin-top: 1.8rem;
    margin-bottom: 4rem;
  }
  .content-wrapper .button-cta {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 200px;
  }
  #row2 {
    display: block;
    justify-content: unset;
  }
  #row2 .m-guide {
    width: 100%;
  }
  #products {
    padding-bottom: 4rem;
  }
  #products .a-products-title {
    width: 98%;
    margin-bottom: 4rem;
  }
  #products .o-products {
    display: block;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
  }
  #products .o-products .m-product {
    width: 100%;
    margin-bottom: 4rem;
  }
  #products .o-products .m-product img {
    width: 52%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 900px) {
  .content-wrapper h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  .content-wrapper h3 {
    font-size: 2rem;
  }
  .content-wrapper h4 {
    font-size: 2.3rem;
    margin: 2rem auto 1rem auto;
  }
  .content-wrapper h5 {
    font-size: 1.33rem;
  }
  .content-wrapper h6 {
    font-size: 1.8rem;
  }
  .content-wrapper .button-cta {
    padding: 1rem 2rem;
  }
  #row1 {
    margin-bottom: 0.95rem;
  }
  #row2 {
    margin-top: 0;
  }
  #products .o-products .m-product {
    width: 22%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1025px) {
  .content-wrapper h3 {
    margin: 0 auto;
    font-size: 2.5rem;
    width: 80%;
  }
  .content-wrapper h4 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  .content-wrapper h5 {
    font-size: 1.5rem;
    padding: 0 px;
  }
  .content-wrapper h6 {
    font-size: 1.8rem;
  }
  .content-wrapper #row1 {
    margin-bottom: 1.4rem;
  }
  .content-wrapper #row2 {
    margin-top: 0;
  }
  .content-wrapper #products .o-products .m-product {
    width: 22%;
  }
  .content-wrapper #products .o-products .m-product img {
    width: 70%;
  }
  .content-wrapper #products .o-products .m-product h5 {
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
